#download-button {
    padding:10px;
    color:black;
    background-color:cyan;
    display:inline;
    border-radius:3px;
    border: 1px solid grey;
    float:right;
}

#footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    background-color: grey;
}